<div id="modal_fondo" (click)="cerrar_modal_fondo()">
    <div id="modal_datos">
        <div id="modal_titulo">
            <p>¿Desea eliminar al empleado?</p>
        </div>
        
        <p id="id_modal">Id: {{nombre_imp.id}}</p>
        <p id="nombre_modal">Nombre: {{nombre_imp.nombre +" "+nombre_imp.apellido}}</p>

        <button id="aceptar_btn" (click)="cerrar()">Aceptar</button>
        <button id="cancelar_btn" (click)="cerrar()">Cancelar</button>
        <button id="cerrar_btn" (click)="cerrar()"></button>

    </div>
</div>