<div id="modal_fondo">
    <div id="modal_datos">
        <div id="modal_titulo">
            <p>¿Desea eliminar a empleado?</p>
        </div>
        
        <p id="id_modal">Id:1</p>
        <p id="nombre_modal">Nombre:Diego</p>
        <p id="apellido_modal">Apellido(s):Miranda</p>
        <p id="edad_modal">Edad:21</p>
        <p id="correo_modal">Correo:diegoimm@gmail.com</p>

        <button id="aceptar_btn">Aceptar</button>
        <button id="cancelar_btn">Cancelar</button>
        <button id="cerrar_btn"></button>

    </div>
</div>