<div id="caja_tabla">
    <table>
        <thead>
           <!-- <th>Ver</th> -->
            <th><input type="checkbox"></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Acciones</th>
        </thead>

        <tbody id="tabla">
            <tr *ngFor="let cliente of arreglo_tabla[pagina_actual-1]">
                <td><input type="checkbox"></td>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.edad}}</td>
                <td>{{cliente.correo}}</td>
                <td>
                    <button (click)="borrar(cliente)" style="height:22px; width:22px; 
                    background-Image:url(assets/Icon_boton/eliminar.png); 
                    background-Position:center; background-Repeat:no-repeat; background-Color:white; 
                    border-Radius:15px; border-Color:red" ></button>
                </td>
            </tr>
        </tbody>
        
    </table>

    <button id="btn_final" (click)="inicio()"></button>
    <button id="btn_atras" (click)="anterior()"></button>
    <button id="btn_siguiente" (click)="siguiente()"></button>
    <button id="btn_ultimo" (click)="final()"></button>

</div>

  <app-indicadores [contador_icono]="arreglo_get" [numero_pagina]="pagina_actual" 
  [total_paginas]="total_paginas()"></app-indicadores>

  <app-modal-eliminar *ngIf="visualizar==true" [nombre_imp]="objeto_out"
    [ver]="cerrar_ventana()"></app-modal-eliminar>
  <!--<app-modal-datos></app-modal-datos>-->
  <!--<app-modal-person></app-modal-person>-->
