#seccion {
    position: absolute;
    background-image: radial-gradient(circle at 50% -20.71%, #65ffff 0, 
    #6ddfff 25%, #6cb4d8 50%, #648ba4 75%, #566875 100%);
    width: 101%;
    height: 654px;
    left: -7px;
    top: -6px;
}