
<div id="modal_check">
    <div id="contenedor_check">
        <div id="titulo_check">
            <p>Información de personal seleccionado.</p>
        </div>

        <table id="tabla_modal">
            <thead>
                <tr>
                <th class="modal_titulo">ID</th>
                <th class="modal_titulo">Nombre</th>
                <th class="modal_titulo">Apellido</th>
                <th class="modal_titulo">Edad</th>
                <th class="modal_titulo">Correo</th>
                </tr>
            </thead>

            <tbody id="tabla_clonada">

            </tbody>

            
        </table>

    </div>

    <button id="cerrar_modal_check"></button>

</div>
